XSLT_code_challenge/degree.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="degrees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="degree" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="bp" use="optional"/>
                <xs:attribute type="xs:string" name="dp" use="optional"/>
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="letter" use="optional"/>
                <xs:attribute type="xs:string" name="link" use="optional"/>
                <xs:attribute type="xs:string" name="mp" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="school" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>